<?xml version="1.0" ?>
<config>
    <modules>
        <Basics_HelperA>
            <version>0.1.0</version>
        </Basics_HelperA>
    </modules>
    <global>
        <!-- Register your helpers -->
        <helpers>
            <!-- This node can be named anything as long as it is unique -->
            <!-- but the convention is namespace_moduleName -->
            <basics_helperA>
                <!-- This tells Magento where to find helper classes in your module -->
                <class>Basics_HelperA_Helper</class>
            </basics_helperA>
        </helpers>
    </global>
</config>
