<?xml version="1.0" ?>
<config>
    <modules>
        <Basics_Controllers>
            <version>0.1.0</version>
        </Basics_Controllers>
    </modules>
    <frontend>
        <!-- Register your custom route. -->
        <routers>
            <!-- This node can be named anything as long as it is unique. -->
            <basics_controllers>
                <!-- Use the standard router. -->
                <use>standard</use>
                <!-- Magento expects all controllers to be in a subdirectory called 'controllers'. -->
                <!-- Specifying only the namespace and module name is sufficient. -->
                <module>Basics_Controllers</module>
                <!-- This string will be used in the request URL and is hence case insensitive. -->
                <frontName>basics</frontName>
            </basics_controllers>
        </routers>
    </frontend>
</config>
