<?xml version="1.0" ?>
<config>
    <modules>
        <Basics_Controllers>
            <version>0.1.0</version>
        </Basics_Controllers>
    </modules>
    <frontend>
        <!-- Register your custom route. -->
        <routers>
            <!-- This node can be named anything as long as it is unique. -->
            <basics_controllers>
                <!-- Use the standard router. -->
                <use>standard</use>
                <args>
                    <!-- Namespaces_ModuleName -->
                    <module>Basics_Controllers</module>
                    <!-- This string will be used in the request URL. -->
                    <frontName>basicsControllersFrontName</frontName>
                </args>
            </basics_controllers>
        </routers>
    </frontend>
</config>