<?xml version="1.0" ?>
<config>
    <modules>
        <Basics_ModelA>
            <version>0.1.0</version>
        </Basics_ModelA>
    </modules>
    <global>
        <!-- Register the model -->
        <models>
            <!-- This node can be named anything as long as it is unique,
            but the convention is to use namespace_moduleName -->
            <basics_modelA>
                <!-- This tells Magento where to find model classes in this module -->
                <class>Basics_ModelA_Model</class>
            </basics_modelA>
        </models>
    </global>
</config>
